<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ block "title" . }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
  <link rel="icon" href='{{ "favicon.svg" | relURL }}' />
  {{ $css := resources.Get "css/main.css" | minify }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
</head>
<body>
  {{ block "body" . }}{{ end }}
</body>
</html>
